.logo {
    filter: invert(100%) sepia(14%) saturate(2%) hue-rotate(354deg) brightness(110%) contrast(101%);
    margin-right: 10px;
    width: 40px;
}
footer{
    background:#ccc;
    position:relative;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;
}
.imgUser {
    height: 50px;
    width:  50px;
}
