.logo {
    filter: invert(100%) sepia(14%) saturate(2%) hue-rotate(354deg) brightness(110%) contrast(101%);
    margin-right: 10px;
    width: 40px;
}

.imgUser {
    height: 50px;
    width:  50px;

}