<div id="blockCoord">
    <label for="rue">Rue :</label>
    <input class="form-control" type="text" value="{{ location.rue }}" readonly>
    <br>
    <label for="code">Code postal :</label>
    <input class="form-control" type="text" value="{{ city.codePostal }}" readonly>
</div>