{% extends 'base.html.twig' %}

{% block title %}Import d'utilisateur
{% endblock %}

{% block body %}
    {{ form_start(uploadform) }} {# <form ...> #}
    {{ form_row(uploadform.file) }}
    <button class="btn btn-lg btn-primary mt-4" type="submit">
        Importer
    </button>
    {{ form_end(uploadform) }} {# <form ...> #}
{% endblock %}