{% extends 'base.html.twig' %}

{% block title %} Modifier {% endblock %}

{% block body %}

    <br><h3 style="text-align: center">Modifier une ville</h3>
    <br><div>
        {{ form(modifyCityForm) }}
    </div>

{% endblock %}